<!-- desktop menu start here -->
		<header class="header-section transparent-header header-style-2">
            <div class="container">
                <div class="primary-menu">
                    <div class="logo">
                        <a href="/"><img style="max-width: 160px;" src="assets/images-own/logo-own.png" alt="logo"></a>
                    </div>
                    <div class="main-area">
                        <div class="main-menu">
                            <ul class="lab-ul">
                                <li><a href="/">Home</a></li>
                                <li><a href="/portafolio">Portafolio</a></li>
                                <li><a href="/portafolio-profinal">API REST</a></li>
                                <li><a href="/contact">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-bar d-lg-none">
                        <i class="icofont-navigation-menu"></i>
                        <i class="icofont-close-squared-alt"></i>
                    </div>
                </div>
            </div>
        </header>
        <!-- desktop menu ending here -->