<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="assets/images-own/icons/favicon.ico">

		<link rel="stylesheet" href="assets/css/animate.css">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/icofont.min.css">
		<link rel="stylesheet" href="assets/css/lightcase.css">
		<link rel="stylesheet" href="assets/css/swiper.min.css">
		<link rel="stylesheet" href="assets/css/style.min.css">
		
		<title>MarinoPablo</title>
	</head>

	<body>
        <!-- preloader start here -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- preloader ending here -->
        

        {{!-- Hader --}}
		{{> header}}


		<!-- Banner Section start here -->
		<section class="banner style-2 bg_size" style="background-image: url(assets/images-own/banner-home.jpg); background-position: center; background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-8 col-12 mb-xl-0 mb-5">
                        <div class="banner-content text-white">
                            <h2><span class="d-xl-block">Hola!!</span></h2>
                            <h3><span style="color:#f0f0f0">Soy Wilson Pablo</span></h3>
                            <p style="color:#dadada">Binvenido a mi sitio web personal, donde podrás encontrar información sobre mi persona y tambien de los proyectos que he realizado.</p>
                            <div class="btn-group">
                                <a href="/portafolio" class="lab-btn style-5"><span>Ver Proyectos</span></a>
                                <a href="/contact" class="lab-btn style-4"><span>Contactar</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="banner-thumb">
                            <!-- <img src="assets/images/banner/01.png" alt="banner"> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section ending here -->

        <!-- clients range section start here -->
        <section class="clients-range-section style-2 padding-tb">
            <div class="container">
                <div class="top-area">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-12">
                            <div class="cr-thumb box-shadow-10 p-4">
                                <img style="max-height: 400px;" src="assets/images-own/perfil-usuario.jpg" alt="service-thumb">
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="section-header mb-3">
                                <h2>Wilson Pablo</h2>
                                <!-- <span class="sub-title style-2">Software Developer</span> -->
                                <p>Actualmente presto mis servicios como desarrollador de software en "Tecnologia Transaccional", siendo parte de las diferentes capas Frontend, Backend y Base de Datos.</p>
                                <p>Soy estudiante de Ingeniería de Sistemas en la Universidad Mariano Gálvez.</p>
                                <p>Me gusta explorar y aprender nuevas tecnologias de desarrollo y métodologias de trabajo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- clients range section ending here -->


                <!-- market agency section ending here -->
                <div class="market-agency-section padding-tb bg-gr3">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="section-header text-center">
                                    <h2>Tecnologías y Herramientas</h2>
                                    <span class="sub-title">Stack de tecnologias que conozco y domino</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="section-wrapper">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-6 col-12 mb-4">
                                            <div class="lab-item-2 bg-white p-4 border-radius-10">
                                                <div class="lab-inner d-flex flex-wrap align-items-center">
                                                    <div class="lab-thumb">
                                                        <img src="assets/images-own//icons//logo-angular.png" alt="business">
                                                    </div>
                                                    <div class="lab-content text-center text-lg-start">
                                                        <h4>Angular</h4>
                                                        <p>Framework de JavaScript que incluye una serie de lenguajes y librerias HTML, CSS, TypeScript, RxJS. Es usado en la capa de Frontend.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12 mb-4">
                                            <div class="lab-item-2 bg-white p-4 border-radius-10">
                                                <div class="lab-inner d-flex flex-wrap align-items-center">
                                                    <div class="lab-thumb">
                                                        <img src="assets/images-own/icons/logo-netframework.jpg" alt="business">
                                                    </div>
                                                    <div class="lab-content text-center text-lg-start">
                                                        <h4>.NET Framework</h4>
                                                        <p>Framework de C# que incluye una serie de herramientas para la agilización de desarrollo como el Entity Frmework. Es usado en Backend.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12 mb-4">
                                            <div class="lab-item-2 bg-white p-4 border-radius-10">
                                                <div class="lab-inner d-flex flex-wrap align-items-center">
                                                    <div class="lab-thumb">
                                                        <img src="assets/images-own/icons/03.png" alt="business">
                                                    </div>
                                                    <div class="lab-content text-center text-lg-start">
                                                        <h4>SQL Server</h4>
                                                        <p>Sistema de gestión de base de datos relacional, para la recuperación y manipulación de datos.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12 mb-4">
                                            <div class="lab-item-2 bg-white p-4 border-radius-10">
                                                <div class="lab-inner d-flex flex-wrap align-items-center">
                                                    <div class="lab-thumb">
                                                        <img src="assets/images-own/icons/03.png" alt="business">
                                                    </div>
                                                    <div class="lab-content text-center text-lg-start">
                                                        <h4>Herramientas</h4>
                                                        <p>Algunas herramientas de desarrollo GIT, GitHub, Azure Devops, Postman, WorkBench, Adobe XD.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- market agency section ending here -->

        
        {{!-- footer --}}
		{{> footer}}

        
        <!-- scrollToTop start here -->
		<a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
		<!-- scrollToTop ending here -->
		
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/lightcase.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/swiper.min.js"></script>
		<script src="assets/js/jquery.countdown.min.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/progress.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>