<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="assets/images-own/icons/favicon.ico">

		<link rel="stylesheet" href="assets/css/animate.css">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/icofont.min.css">
		<link rel="stylesheet" href="assets/css/lightcase.css">
		<link rel="stylesheet" href="assets/css/swiper.min.css">
		<link rel="stylesheet" href="assets/css/style.min.css">
		
		<title>Wilson Pablo</title>
	</head>

	<body>
        <!-- preloader start here -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- preloader ending here -->
		
        {{!-- Hader --}}
		{{> header}}


		<!-- Page header Section start here -->
		<div class="page-header-section bg-inner-pageheader">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-area text-center">
                            <div class="page-header-title">
                                <h2>Proyecto</h2>
                            </div>
                            <div class="page-header-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb p-0 mb-0 justify-content-center bg-transparent">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/portafolio">Portafolio</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Proyecto</li>
                                    </ol>
                                  </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page header Section ending here -->


         <!-- about section start here -->
         <section class="about-section style-3 pb-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header style-2 text-center">
                            <h2>Sitio Web Didactico</h2>
                            <!-- <p>
                                Se creó un API Rest para servir peticiones HTTP desde cualquier cliente web. Este API se desarrolló con la librería ExpressJS y 
                                con el sistema de base de datos MongoDB
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about section ending here -->

        <!-- business-analysis section start here -->
        <div class="business-analysis style-1 pb-5 pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <div class="lab-thumb">
                            <img src="assets/images-own/proyectos/sitio-didactico.png" alt="business-analysis">
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="lab-content">
                            <!-- <h4>¿Objetivo del API?</h4> -->
                            <p>Pagina web informativa de temas de programación, temas dados en el curso de Desarrollo Web lo cual se hizo el desarrollo para poner en practica lo aprendido.</p>
                            <h6>Temario:</h6>
                            <ul class="lab-ul">
                                <li><i class="icofont-check"></i>HTML</li>
                                <li><i class="icofont-check"></i>CSS</li>
                                <li><i class="icofont-check"></i>JavaScript</li>
                                <li><i class="icofont-check"></i>NodeJS</li>
                            </ul>
                            <p class="mt-2">Dicha página es totalmente estatica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- business-analysis section start here -->


        <!-- market agency section ending here -->
        <div class="about-section style-1 pb-5 pt-5" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-header bg-white text-center">
                            <h4>Tecnologías Usado</h4>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="section-wrapper">
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-12 mb-4">
                                    <div class="lab-item-2 bg-white p-4 border-radius-10">
                                        <div class="lab-inner d-flex flex-wrap align-items-center box-shadow-10 p-3" >
                                            <div class="lab-thumb">
                                                <img src="assets/images/100X100/03.png" alt="business">
                                            </div>
                                            <div class="lab-content text-center text-lg-start">
                                                <h4>HTML</h4>
                                                <p>Lenguaje de marcado para el diseño del esqueleto de un sitio.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 mb-4">
                                    <div class="lab-item-2 bg-white p-4 border-radius-10">
                                        <div class="lab-inner d-flex flex-wrap align-items-center box-shadow-10 p-3">
                                            <div class="lab-thumb">
                                                <img src="assets/images/100X100/03.png" alt="business">
                                            </div>
                                            <div class="lab-content text-center text-lg-start">
                                                <h4>CSS</h4>
                                                <p>Lenguaje de estilos para definir y crear la presentación de un sitio.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 mb-4">
                                    <div class="lab-item-2 bg-white p-4 border-radius-10">
                                        <div class="lab-inner d-flex flex-wrap align-items-center box-shadow-10 p-3">
                                            <div class="lab-thumb">
                                                <img src="assets/images/100X100/03.png" alt="business">
                                            </div>
                                            <div class="lab-content text-center text-lg-start">
                                                <h4>JavaScript</h4>
                                                <p>Lenguaje de programación para dar interactividad a un sitio..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- market agency section ending here -->

        
        <!-- portfolio section start here -->
		<section class="portfolio-section style-4 style-5 pb-5 pt-5">
			<div class="container">
				<div class="section-wrapper">
					<div class="row justify-content-center">
                        <div class="col-12">
                            <div class="section-header bg-white text-center">
                                <h4>Capturas</h4>
                            </div>
                        </div>
						<div class="col-xl-6 col-sm-6 col-12">
                            <div class="lab-item-3 port-item">
                                <div class="lab-inner">
                                    <div class="lab-thumb">
                                        <img src="assets/images-own/proyectos/navegacion-estatico01.png" alt="lab-rcpost">
                                    </div>
                                    <div class="lab-content">
                                        <h5>Navegación</h5>
                                        <span>Navegación en las diferentes pantallas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-6 col-sm-6 col-12">
                            <div class="lab-item-3 port-item">
                                <div class="lab-inner">
                                    <div class="lab-thumb">
                                        <img src="assets/images-own/proyectos/codigo-estatico01.png" alt="lab-rcpost">
                                    </div>
                                    <div class="lab-content">
                                        <h5>Código Programación</h5>
                                        <span>Código de sitio web en Visual CODE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
        <!-- portfolio section ending here -->

       
       {{!-- footer --}}
		{{> footer}}
        
        <!-- scrollToTop start here -->
		<a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
		<!-- scrollToTop ending here -->

		
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/lightcase.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/swiper.min.js"></script>
		<script src="assets/js/jquery.countdown.min.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/progress.js"></script>
		<script src="assets/js/functions.js"></script>
	</body>
</html>